body {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	shape-rendering: crispEdges;
}

.axis path {
	stroke: #000;
}

.axis line {
	stroke: #e0e0e0;
}

path.line {
	fill: none;
	stroke: steelblue;
}

rect.pane {
	cursor: move;
	fill: none;
	pointer-events: all;
}