body {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	stroke: #000;
	fill: none;
	shape-rendering: crispEdges;
}

.axis line {
	stroke-opacity: 0.1;
}

path.line {
	fill: none;
	stroke: steelblue;
}

rect.pane {
	cursor: crosshair;
	fill: none;
	pointer-events: all;
}

rect.pane:active {
	cursor: move;
}

.focus circle {
	fill: none;
	stroke: orangered;
}

.focus rect {
	fill: white;
	stroke: orangered;
}

.target line {
	fill: none;
	stroke: #000;
	stroke-dasharray: 3,2;
	shape-rendering: crispEdges;
	stroke-opacity: 0.25;
}