html, body {
	height: 100%;
}

body {
	font: 10px sans-serif;
	margin: 0px;
	padding-bottom: 0px;
	overflow: hidden;
}

#charts {
	height: 100%;
}

.overlay {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay .mdl-spinner {
	width: 112px;
	height: 112px;
}

.chart .mdl-typography--title {
	position: absolute;
	margin-top: 24px;
	margin-left: 24px;
}

.axis path,
.axis line {
	stroke: black;
	fill: none;
	shape-rendering: crispEdges;
}

.axis line {
	stroke-opacity: 0.1;
}

path.line {
	fill: none;
	stroke: steelblue;
}

.trending .up {
	fill: #4CAF50;
	stroke: #4CAF50;
}

.trending .down {
	fill: #F44336;
	stroke: #F44336;
}

.trending text {
	text-anchor: middle;
}

.trending circle {
	fill: none;
}

.trending line {
	fill: none;
	shape-rendering: crispEdges;
}

rect.pane {
	cursor: crosshair;
	fill: none;
	pointer-events: all;
}

rect.pane:active {
	cursor: move;
}

.cursor line {
	fill: none;
	stroke: black;
	stroke-dasharray: 3,2;
	stroke-opacity: 0.25;
	shape-rendering: crispEdges;
}

.cursor rect {
	fill: #555;
}

.cursor text {
	fill: white;
}

.x.cursor text {
	text-anchor: middle;
}

.y.cursor text {
	text-anchor: start;
}